body{
    background-color: whitesmoke;
}
.classtwo ul {
    padding: auto;
    margin-top: 20px;
    list-style: none;
    margin-right: 250px; 
}

.classtwo li {
    display: inline-block;
    margin-right: 25px; 
}
.classone {
    width: 50%; /* Adjust the width as needed */
    float: right;
    margin-top: -70px;
    font-size: 16px;
    background-color:whitesmoke;
   
}
h1 {
    color: rgb(255, 0, 0);
    font-size: 40px;
}
.classthree{
    background-color: whitesmoke;
}
form {
    margin-top: 50px;
    text-align: center;


}
input {
    font-size: 22px;
}
.classfour h1{
    color: black;
}
.classfour img{
    margin-top: 45px;
    margin-left: 200px;
}
.classwest p{
    font-size: 20px;
}
footer p{
    font-size: 25px;
    
}
footer h3{
    font-size: 40px;

}
footer{
    text-align: center;
}
.classfour p{
    font-size: 22px;
}
.nv {
    margin-left: 1200px;
    margin-top: -28px;
}